$fontColor: #0091aa;
$colorHeading: #be4a14;
#content  // div with id: content
{
    color: $fontColor;
}

h2
{
    color: $colorHeading;
}

h1{
    @extend h2;
}

.small{
  color: $fontColor;
  font-size: 10px;  
  border-spacing: 20px;
}

.medium{
    @extend .small;
    color: $colorHeading;
    font-size: 20px;
}

.big{
    @extend .medium;
    font-size:40px;
}